<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.goingbacking.goingbacking">

    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".Myapplication"
        android:allowBackup="true"
        android:icon="@mipmap/comeback"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/comeback"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".UI.Input.InputActivity"
            android:exported="true" />

        <service
            android:name=".Service.AlarmService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".WhatToDoSaveActivity"
            android:exported="true" />
        <activity
            android:name=".TmpTimeActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivityPackage.ThirdMainFragmentPackage.ScheduleInputActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivityPackage.ChangeInfoActivity"
            android:exported="true" />
        <activity
            android:name=".UI.Tutorial.TutorialActivity"
            android:exported="true" />

        <activity
            android:name=".UI.Login.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".UI.Main.MainActivity"
            android:exported="true" />
        <activity
            android:name=".UI.Splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".BR.CountReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".BR.DeviceBootReceiver"
            android:enabled="true"
            android:exported="false" />
        <receiver
            android:name=".BR.DoingReceiver"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>